body {
  background-color: #1a1f1a
}

.home.title {
  color: #de2929;
  text-align: center;
  font-size: 50px;
  font-weight: 2000;
  font-family: cursive, 'Brush Script MT';
  margin-bottom: 10px;
}

div.home {
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  width: 800px;
  height: 500px;
  border: 2px black;
  border-style: groove;
}

img.home {
  width:820px;
  margin-right: auto;
  margin-left: auto;
}

#homepagelist ul {
  list-style-position: inside;
  text-align: center;
  font-size: 20px;
}

#homepagelist ul li a {
  color: #dc4949;
}

#homepagelist ul li a:visited {
  color: #de2929;
}

/* back button */
button.backbutton{
  color: #de2929;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: #3b3b3b;
}

.recipe-title {
  text-align: center;
  color: #de2929;
  font-family: fantasy;
  font-weight: 3000;
  font-size: 60px;
  margin-bottom: 0px;
}

img.recipe-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 500px;
  width: auto;
  border: 4px black;
  border-style: solid;
}

/* description title */
h2 {
  color: #de2929;
  text-align: left;
  text-indent: 20px;
  font-family: 'Courier New', Courier, monospace;
}

/* Description text */
p.description {
  color: #d44242;
  text-indent: 40px;
  font-family: 'Courier New', Courier, monospace;
}

/* ingredients title */
h3 {
  color: #de2929;
  text-indent: 20px;
  font-family: 'Courier New', Courier, monospace;
}

ul li {
  color: #de2929;
  font-family: 'Courier New', Courier, monospace;
}

ul strong {
  color: #de2929;
  font-family: 'Courier New', Courier, monospace;
}

ol li {
  color: #de2929;
  font-family: 'Courier New', Courier, monospace;
}